<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>  
    </ion-toolbar>
  </ion-header>

  <div class="swiper-container">
    <swiper-container  slides-per-view="1"    
      navigation="true"
      pagination="true"  
      speed="500"
      autoplay="true"   
      centeredSlides="true"
      roundLengths="true"
      loop="true"
      mousewheel-force-to-axis="true"
      spaceBetween="50">
      <swiper-slide *ngFor="let webcam of webcamService.webcams">
        <div class="overlay">
          <p class="overlay-text">{{webcam.description}}</p>
        </div>      
      <img [src]="webcam.url + '?t=' + timestamp"/>    
     </swiper-slide>     
    </swiper-container>
  </div>
</ion-content>
