<!-- src/app/tab1/tab1.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Rezepte</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-dataset']">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let dataset of dataService.datasets" (dblclick)="viewImage(dataset.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="dataset.webviewPath"></ion-img>        
      </ion-thumbnail>
      <ion-label>
        <h2>{{ dataset.name }}</h2>
        <p>{{ dataset.description }}</p>        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

