<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Regenradar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Regenradar</ion-title>
    </ion-toolbar>
  </ion-header>  

  

  <div class="image-container">
    <img src="https://www.dwd.de/DWD/wetter/radar/radfilm_bay_akt.gif" alt="Description of image" />
  </div>

  <div class="iframe-container">
    <iframe 
      src="https://www.windy.com/de/-Wetterradar-radar?radar,48.018,11.115,9" 
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  
  

</ion-content>
