<ion-header>  
</ion-header>

<ion-content [fullscreen]="true" > 
   
    <ion-grid class="outer-container">  
              <!--  
        <ion-row>     

        <ion-col>     
          <ion-list slot="">            
           
            <ion-item>
              <ion-label>Latitude</ion-label>
              <ion-badge slot="">{{geoLocation.latitude | number:'1.2-4' }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Timestamp</ion-label>
              <ion-badge slot="end">{{geoLocation.timestamp}}</ion-badge>
            </ion-item>
     
            <ion-item>
              <ion-label>Altitude</ion-label>
              <ion-badge slot="end">{{geoLocation.altitude | number:'1.2-2'}}</ion-badge>
              <ion-badge slot="end">{{geoLocation.timestamp | number:'1.2-2'}}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Speed in km/h</ion-label>
              <ion-badge slot="end">{{geoLocation.speed | number:'1.2-2'}}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-checkbox [(ngModel)]="checkboxTrack" id="checkboxTrack" justify="start" label-placement="start">Track</ion-checkbox>
            </ion-item>
                 

          </ion-list>
        </ion-col>        
        </ion-row>
      -->   

      

    <ion-row class="row">   
      <ion-col>     
          <div id="geoMap" class="map-container">
          </div>
        </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col>
        <ion-toggle [checked]="true" (ionChange)="leafletBTFollowMe()" [(ngModel)]="checkboxFollowMe">FollowMe!</ion-toggle>
        <ion-toggle [checked]="true" (ionChange)="leafletBTSetTrack()" [(ngModel)]="checkboxSetTrack">Track</ion-toggle>
      </ion-col>
      <ion-col>  

        <ion-fab>
          <ion-fab-button size="small" (click)="leafletCenterOnPosition()">
            <ion-icon name="locate-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button>
              <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="color-palette"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
    </ion-col>
  </ion-row>    

    </ion-grid> 
    
  </ion-content>
