<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ui5-tab</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ui5-tab</ion-title>      
    </ion-toolbar>
  </ion-header>
  <ui5-button>Hello UI5 Web Components</ui5-button>
  <ui5-timeline>
    <ui5-timeline-item title-text="called" subtitle-text="20.02.2017 11:30" icon="phone" name="Stanislava Baltova" name-clickable></ui5-timeline-item>
    <ui5-timeline-item title-text="called" subtitle-text="20.02.2017 11:30" icon="phone" name="Stanislava Baltova"></ui5-timeline-item>

    <ui5-timeline-item title-text="Weekly Sync - CP Design" subtitle-text="27.08.2017 (11:00 - 12:00)" icon="calendar">
        <ui5-label>MR SOF02 2.43</ui5-label>
    </ui5-timeline-item>

    <ui5-timeline-item title-text="Video Conference Call - UI5" subtitle-text="31.01.2018 (12:00 - 13:00)" icon="calendar" name="Stanislava Baltova">
        Online meeting
    </ui5-timeline-item>
</ui5-timeline>
</ion-content>
